<launch>
	
	<arg name="record" default="false"/>
      <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      </include>


     <node name="walker"
           pkg="turtlebot_walker"
           type="walker_node" 
     	   output="screen">
     </node>

     <node name="Rosbag_Record"
           pkg="rosbag"
           type="record"
           args="-a -O $(find turtlebot_walker)/results/rosbag_recording.bag -x /camera/(.*)"
           if="$(arg record)" />

</launch>
